{% extends 'base.html' %}
{% block head_tags %}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/employee.css') }}">
{% endblock %}
{% block body %}
{{ super() }}
<section class="section">
    <section class="tile is-ancestor">
        <section class="tile is-parent is-3">
            <article class="tile is-child" id="profile_pic">
                <figure class="image">
                    <img src="{{ url_for('static', filename='./images/user_white.png') }}" alt="" class="">
                </figure>
            </article>
        </section>
        <section class="tile is-parent">
            <section class="tile is-parent is-vertical">
                <section class="tile is-parent">
                    <article class="tile is-child">
                        <p class="title">Información Personal</p>
                        <div class="content">
                            <p>Nombre: <span>{{ worker_info["name"] }} {{worker_info["last_name"] }}</span></p>
                            <p>Edad y Fech. Nac.: <span>{{worker_info["age"]}} - {{worker_info["birth_date"]}}</span></p>
                            <p>Sexo: <span>{{worker_info["sex"]}}</span></p>
                            <p>CURP: <span>{{worker_info["curp"]}}</span></p>
                            <p>Clave Elector: <span>{{worker_info["elector_key"]}}</span></p>
                            <p>IFE: <span>{{worker_info["ife"]}}</span></p>
                        </div>
                    </article>
                </section>
                <section class="tile is-parent">
                    <article class="tile is-child">
                        <p class="title">Datos en la Empresa</p>
                        <div class="content">
                            <p>Fecha de Entrada: <span>{{ worker_info["entry_date"] }}</span></p>
                            <p>Puesto: <span>{{ worker_info["position"] }}</span></p>
                            <p>Ubicación: <span>{{ worker_info["branch"] }}</span></p>
                            {% if worker_info["vacation_assigned_days"] == "None" %}
                                <p>Días Vacacionales Asignados: <span>0</span></p>
                            {% else %}
                                <p>Días Vacacionales Asignados: <span>{{ worker_info["vacation_assigned_days"] }}</span></p>
                            {% endif %}
                            {% if worker_info["vacation_taken_days"] == "None" %}
                                <p>Días Vacacionales Tomados: <span>0</span></p>
                            {% else %}
                                <p>Días Vacacionales Tomados: <span>{{ worker_info["vacation_taken_days"] }}</span></p>
                            {% endif %}
                            {% if worker_info["vacation_remaining_days"] == "None" %}
                                <p>Días Vacacionales Restantes: <span>0</span></p>
                            {% else %}
                                <p>Días Vacacionales Restantes: <span>{{ worker_info["vacation_remaining_days"] }}</span></p>
                            {% endif %}
                        </div>
                    </article>
                </section>
            </section>
            <section class="tile is-parent is-vertical">
                <section class="tile is-parent">
                    <article class="tile is-child">
                        <p class="title">Salario</p>
                        <div class="content">
                            <p>Por Minuto: <span>{{ worker_info["minutely_salary"] }}</span></p>
                            <p>Por Hora: <span>{{ worker_info["hourly_salary"] }}</span></p>
                            <p>Por Día: <span>{{ worker_info["daily_salary"] }}</span></p>
                            <p>Por Quincena: <span>{{ worker_info["biweekly_salary"] }}</span></p>
                            <p>Por Mes: <span>{{ worker_info["monthly_salary"] }}</span></p>
                        </div>
                    </article>
                </section>
                <section class="tile is-parent">
                    <article class="tile is-child">
                        <p class="title">Opciones</p>
                        <div class="content">
                            <a href="#" class="button is-link is-rounded">Calcular Pago</a>
                            <a href="#" class="button is-link is-rounded">Modificar Datos</a>
                        </div>
                    </article>
                </section>
            </section>
        </section>
    </section>
</section>
{% endblock %}