{% extends 'base.html' %} 
{% block body %}
{{ super() }}
<section class="section">
	<section class="tile is-ancestor is-vertical">
	{% for worker_key, worker_dict in worker_info.items() %}
	{% if loop.index0 % 3 == 0 %}
		<section class="tile is-parent">
	{% endif %}
			<article class="tile is-child is-4">
				<div class="card">
					<div class="card-image">
						<figure class="image">
							<img src="{{ url_for('static', filename=worker_dict['profile_pic']) }}" alt="Placeholder image">
						</figure>
					</div>
					<div class="content">
						<div class="tile is-parent">
							<div class="tile is-child">
								<label class="label">Nombre</label>
								<p>{{worker_dict["name"]}} {{worker_dict["last_name"]}}</p>
							</div>
							<div class="tile is-child">
								<label class="label">Puesto</label>
								<p>{{worker_dict["position"]}}</p>
							</div>
						</div>
						<div class="tile is-parent">
							<div class="tile is-child">
								<label class="label">Salario Diario</label>
								<p>{{worker_dict["daily_salary"]}}</p>
							</div>
							<div class="tile is-child">
								<label class="label">Salario Quincenal</label>
								<p>{{worker_dict["biweekly_salary"]}}</p>
							</div>
						</div>
						<div class="tile is-parent">
							<div class="tile is-child">
								<label class="label">Salario Mensual</label>
								<p>{{worker_dict["monthly_salary"]}}</p>
							</div>
							
						</div>
						
					</div>
					<footer class="card-footer field is-grouped is-grouped-centered">
						<div class="control">
							<a href="/menu/employee/{{worker_dict['id']}}" class="button">Ver Mas</a>
						</div>	
					</footer>
				</div>
			</article>
	{% if loop.index0 % 3 == 2 or loop.last %}
		</section>
	{% endif %}
	{% endfor %}
	</section>
</section>
{%endblock %}
